{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}
   	
{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
{% endblock %}


{% block nav_right %}
    {% if current_user.is_authenticated %}
    <li><a class="active"><span class="glyphicon glyphicon-user"> 你好，{{ current_user.username }} </span></a></li>
    <li><a href="{{ url_for('admin.index') }}"><span class="glyphicon glyphicon-stop"> 控制面板 </span></a></li>
	<li><a href="{{ url_for('admin.logout') }}"><span class="glyphicon glyphicon-stop"> 退出 </span></a></li>
    {% else %}
    <!--li><a class="active"><span class="glyphicon glyphicon-user"> 你好，{% if name %}{{ name }}！{% else %} 未登录用户 {% endif%} </span></a></li-->
	<li><a href="{{ url_for('admin.login') }}"><span class="glyphicon glyphicon-stop"> 登陆 </span></a></li>
    {% endif %}
{% endblock %}


{% block content %}
<!--ol class="breadcrumb">
	<li class="active"><a href="/">Home</a></li>
</ol-->
<br/>

<div class="row">
	<div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
			{% for k in packet_dict.keys() %}
				<li role="presentation"><a href="/articlelist?packet_id={{k}}">{{ packet_dict[k] }}</a></li>
			{% endfor %}
            <li role="presentation"><a href="{{ url_for('main.about') }}">关于</a></li>
        </ul>
    </div>
	<div class="col-md-9">
		{% for message in get_flashed_messages() %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endfor %}

		<div class="row">
			<h1>Flask_Blog</h1>
			<blockquote>
				<p>当前框架  Flask+SQLite+<em>Markdown</em>+<em>Frozen</em>+Bootstrap+ckeditor
				</p>
				<p>环境 ubuntu + nginx + uwsgi 
				</p>
			</blockquote>
			<h3>2016年04月18日 【第二个试行版本  Alpha_v0.4.18】</h3>
			<ul>
				<li>ckeditor编辑器添加上传功能</li>
				<li>提供文章导出为JSON  /admin/outputjson</li>
				<li>预留inputjson 接口</li>
				<li>显示系统当前线程，使用内存</li>
				<li>提供uwsgi、nginx初级脚本</li>
			</ul>
			<h3>2016年04月18日 【第一个试行版本  Alpha_v0.0.1】</h3>
			<ul>
				<li>能够创建、编辑、删除文章</li>
				<li>用户登陆</li>
				<li>完成基本功能，整合ckeditor编辑器</li>
				<li>预留outputjson、inputjson</li>
				<li>测试ckeditor上传</li>
			</ul>
			<h2>关于</h2>
			<ul>
				<li>@作者：<a href="http://www.sugarguo.com/">糖果果|Sugarguo</a></li>
				<li><img src="http://7xignn.com1.z0.glb.clouddn.com/LOGO.png" alt="糖果果|Sugarguo"></li>
				<li>@version        Alpha_v0.4.18</li>
				<li>@copyright    <a href="http://www.sugarguo.com/">糖果果|Sugarguo</a></li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
