{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}
   	
{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
{% endblock %}


{% block nav_right %}
    {% if current_user.is_authenticated %}
    <li><a class="active"><span class="glyphicon glyphicon-user"> 你好，{{ current_user.username }} </span></a></li>
    <li><a href="{{ url_for('admin.index') }}"><span class="glyphicon glyphicon-stop"> 控制面板 </span></a></li>
	<li><a href="{{ url_for('admin.logout') }}"><span class="glyphicon glyphicon-stop"> 退出 </span></a></li>
    {% else %}
    <!--li><a class="active"><span class="glyphicon glyphicon-user"> 你好，{% if name %}{{ name }}！{% else %} 未登录用户 {% endif%} </span></a></li-->
	<li><a href="{{ url_for('admin.login') }}"><span class="glyphicon glyphicon-stop"> 登陆 </span></a></li>
    {% endif %}
{% endblock %}


{% block content %}
<!--ol class="breadcrumb">
	<li class="active"><a href="/">Home</a></li>
</ol-->
<br/>

<div class="row">
	<div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
			{% for k in packet_dict.keys() %}
				<li role="presentation"><a href="/article" + k>{{ packet_dict[k] }}</a></li>
			{% endfor %}
            <li role="presentation"><a href="{{ url_for('main.about') }}">关于</a></li>
        </ul>
    </div>
	<div class="col-md-9">
		{% for message in get_flashed_messages() %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endfor %}
		
		<div class="row">
		{% for article_item in article_dict %}
        	<div class="panel panel-primary">
            	<div class="panel-heading">
                	<h3 class="panel-title text-left">{{ article_item[1] }}</h3><p class="panel-title text-right">{{ article_item[2] }}</p>
            	</div>
            	<div class="panel-body">
                    <h5>{{ article_item[3]|safe }}</h5>
                	<h4 class="text-right"><a href="/article?article_id={{ article_item[0] }}">查看全文</a></h5>
            	</div>
        	</div>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
