{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}
   	
{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
{% endblock %}


{% block nav_right %}
    {% if current_user.is_authenticated %}
    <li><a class="active"><span class="glyphicon glyphicon-user"> 你好，{{ current_user.username }} </span></a></li>
    <li><a href="{{ url_for('admin.control') }}"><span class="glyphicon glyphicon-stop"> 控制面板 </span></a></li>
	<li><a href="{{ url_for('admin.logout') }}"><span class="glyphicon glyphicon-stop"> 退出 </span></a></li>
    {% else %}
    <!--li><a class="active"><span class="glyphicon glyphicon-user"> 你好，{% if name %}{{ name }}！{% else %} 未登录用户 {% endif%} </span></a></li-->
	<li><a href="{{ url_for('admin.login') }}"><span class="glyphicon glyphicon-stop"> 登陆 </span></a></li>
    {% endif %}
{% endblock %}


{% block content %}
<!--ol class="breadcrumb">
	<li class="active"><a href="/">Home</a></li>
</ol-->
<br/>

<div class="row">
	<div class="col-md-2">
		<div class="list-group">
			<a href="#" class="list-group-item disabled">
				当前已有分组
			</a>
			{% for k in teamdict.keys() %}
				<a href="/team?team_id={{k}}" class="list-group-item ">
					<h4 class="list-group-item-heading">{{teamdict[k]}}</h4>
				</a>
			{% endfor %}
		</div>
	</div>

	<div class="col-md-10">
		{% for message in get_flashed_messages() %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endfor %}
		

		{% for k in userdict.keys() %}
			<a href="/user?user_id={{k}}" class="button_link">
				<h4 class="list-group-item-heading">{{userdict[k]}}</h4>
				<span class="line line_top"></span>
				<span class="line line_right"></span>
				<span class="line line_bottom"></span>
				<span class="line line_left"></span>
			</a>
		{% endfor %}

	</div>
</div>

{% endblock %}



{% block script %}
<script>
	$(document).ready(function() {
		$('#table').bootstrapTable({
			method: 'get',
			url: '/getinfo/team',
			striped: true,
			showRefresh: true, 
			dataType: "json",
			toolbar:"#custom-toolbar",
			search: true,
			contentType: "application/x-www-form-urlencoded",
			showColumns: true,
			columns:[
					{field:"name",title:"组名",width:200,align:"center"},
					{field:"team_leader",title:"组长",width:70,align:"center"},
					{field:"teamlist",title:"成员",width:400,align:"center"},
					{field:"operate",title:"操作",width:150,align:"center"}
				]
			});           
    })

    
	function operateFormatter(value, row, index) {
		return [            
			'<a type="button" class="enter button button-tiny button-action btn-xs" href="javascript:void(0)">',
				'<i class="glyphicon glyphicon-ok">进入</i>',
		].join('');
	}
	window.operateEvents = {
		'click .enter': function (e, value, row, index) {
			self.location='/team?team_id=' + row.id; 
		}
	};
</script>
{% endblock %}