{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
{% endblock %}
   	
{% block scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.zh-CN.js') }}"  charset="UTF-8"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-modal.js')}}"></script>
{% endblock %}


{% block content %}
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="editModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="authModalLabel"></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form class="form-horizontal" role="form" id="info_form" method="post">
	
						<div class="form-group">
							<label class="col-md-2 col-md-offset-1 control-label" for="project">主任务名:</label>
							<div class="col-md-8">
								<input type="text" placeholder="必须输入" class="form-control" id="project" type="text" name="project">
							</div>
						</div>
	
						<div class="form-group">
							<label class="col-md-2 col-md-offset-1 control-label" for="branch">子任务名:</label>
							<div class="col-md-8">
								<input type="text" placeholder="项目子任务名" class="form-control" id="branch" name="branch">
							</div>
						</div>
			
						<div class="form-group">
							<label class="col-md-2 col-md-offset-1 control-label" for="endtime">完成时间:</label>
							<div class="col-md-8">
								<input type="text" class="form-control" id="endtime" name="endtime">
							</div>
						</div>
	
						<div class="form-group">
							<label class="col-md-2 col-md-offset-1 control-label" for="worktype">工作类型：</label>
							<div class="col-md-8">
								<select class="form-control" id="worktype" name="worktype">
									{% for k in dlist.keys() %}
										<option value="{{k}}">{{dlist[k]}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
	
	
						<div class="form-group">
							<label class="col-md-2 col-md-offset-1 control-label" for="workload">工作时间:</label>
							<div class="col-md-8">
								<input type="text" placeholder="需要的工作单位时长，必须输入！" class="form-control" id="workload" name="workload">
							</div>
						</div>
	
						<div class="form-group">
							<label class="col-md-2 col-md-offset-1 control-label" for="workcontent">工作内容:</label>
							<div class="col-md-8">
								<div class="textarea">
									<textarea type="text" class="form-control" id="workcontent" name="workcontent"> </textarea>
								</div>
							</div>
						</div>				         
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="button button-border button-rounded button-primary" data-dismiss="modal">取消</button>
				<a type="button" class="button button-glow button-border button-rounded button-primary" onclick="form_submit()">确认</a>
			</div>
		</div>
	</div>
</div>

<br/>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div id="custom-toolbar">
			<div class="form-inline" role="form">
				<a type="button" onclick="create_note()" class="button button-primary button-rounded button-small"><span class="glyphicon glyphicon-plus">新建</span></a>
				<!--a type="button" onclick="add_note()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-import">导入</span></a-->
			</div>
		</div>
		<table id="table">
			<thead>
				<tr>
					<th data-field="project" data-align="center">主任务名</th>
					<th data-field="branch" data-align="center">子任务名</th>
					<th data-field="commit" data-align="center">工作内容</th>
					<th data-field="workload" data-align="center">工作时间</th>
					<th data-field="worktype" data-align="center" data-formatter="typeFormatter">工作类型</th>
					<th data-field="operate" data-align="center" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
				</tr>
			</thead>
		</table>
		<button onclick="all_submit()" class="button button-glow button-rounded button-caution col-lg-2 col-lg-offset-10" style="margin-top:20px;">确认提交</button>
	</div>
	<div class="col-md-1"></div>
</div>
{% endblock %}

{% block script %}
<script>
	var dictArr = [];
	{% for k in dlist.keys() %}
		dictArr["{{k}}"]="{{dlist[k]}}"; 
	{% endfor %}
	
	var userid=location.search.substring(1);
	
	$(document).ready(function() {
		$('#table').bootstrapTable({
			method: 'get',
			url: '/getinfo/user/' + userid,
			striped: true,
			showRefresh: true, 
			dataType: "json",
			toolbar:"#custom-toolbar",
			search: true,
			contentType: "application/x-www-form-urlencoded",
			showColumns: true,
			columns:[
					{field:"project",title:"主任务名",width:200,align:"center"},
					{field:"branch",title:"子任务名",width:70,align:"center"},
					{field:"workcontent",title:"工作内容",width:400,align:"center"},
					{field:"workload",title:"工作时间",width:70,align:"center"},
					{field:"worktype",title:"工作类型",width:70,align:"center"},
					{field:"operate",title:"操作",width:150,align:"center"}
				]
			});           
    })
  
	function typeFormatter(value) {
		var text=dictArr[value];
		return '<span>'+text+'</span>';
	}
    
	function operateFormatter(value, row, index) {
		return [            
			'<a type="button" class="edit button button-tiny button-action btn-xs" href="javascript:void(0)">',
				'<i class="glyphicon glyphicon-ok">开通</i>',
			'</a>&nbsp;&nbsp;&nbsp;',
			'<a type="button" class="modify button button-tiny button-primary btn-xs" href="javascript:void(0)">',
				'<i class="glyphicon glyphicon-edit">修改</i>',
			'</a>&nbsp;&nbsp;&nbsp;',
			'<a type="button" class="remove button button-tiny button-caution btn-xs" href="javascript:void(0)">',
				'<i class="glyphicon glyphicon-remove">删除</i>',
			'</a>'
		].join('');
	}
	window.operateEvents = {
		'click .edit': function (e, value, row, index) {
			alert('编辑');
		},
		'click .modify': function (e, value, row, index) {
			$('h4').html("<b>修改记录内容</b>");
			$('#id').val([row.id]);
			$('#op').val("modify");
			$('#project').val([row.project]);
			$('#project').attr("readonly","readonly");
			$('#branch').val([row.branch]);
			$('#branch').attr("readonly","readonly");
			$('#date').val([row.update]);
			$('#datetimepicker').val([row.update]);
			$('#datetimepicker').attr("disabled",true);
			$('#type').val([row.worktype]);
			$('#worktype').val([row.worktype]);
			$('#worktype').attr("disabled",true);
			$('#commit').val([row.commit]); 
			$('#workload').val([row.workload]); 
			$('#editModal').modal('show');
		},
		'click .remove': function (e, value, row, index) {
			$('#id').val([row.id]);
			$('#op').val("delete");
			$('h5').html("确认信息");
			$('#span').html("是否确认删除？");
			$('#ensureModal').modal('show');
		}
	};
    
	function create_note(){
		$('h4').html("<b>新建记录内容</b>");
		$('#op').val("create");
		$('#project').val("");
		$('#project').removeAttr("readonly");
		$('#branch').val("");
		$('#branch').removeAttr("readonly");
		$('#datetimepicker').val("")
		$('#datetimepicker').attr("disabled",false);
		$('#worktype').val("0");
		$('#workload').val("");
		$('#commit').val(""); 
		$('#worktype').attr("disabled",false);
		$('#editModal').modal('show');
	}
	
	function update_note(){
		$('h4').html("<b>更新记录内容</b>");
		$('#op').val("create");
		$('#project').val("");
		$('#project').removeAttr("readonly");
		$('#branch').val("");
		$('#branch').removeAttr("readonly");
		$('#datetimepicker').val("")
		$('#datetimepicker').attr("disabled",false);
		$('#worktype').val("0");
		$('#workload').val("");
		$('#commit').val(""); 
		$('#worktype').attr("disabled",false);
		$('#editModal').modal('show');
	}
	
	function form_submit(){
		if(project.value.length==0){
			alert('项目名不能为空');
		}
		else if(endtime.value.length==0){
			alert('预计完成时间不能为空');
		}
		else if(workload.value.length==0){
			alert('工作时长不能为空');
		}
		else if(worktype.value.length==0){
			alert('工作类型不能为空');
		}
		else{
		info_form.action="/user/infoadd?user_id=" + userid;
		$('#info_form').submit();
		}

    }

	$('#endtime').datetimepicker({
		language:  'zh-CN',
		startView: 2,
		autoclose: 1,
		weekStart: 1,
		todayBtn:  1,
		todayHighlight: 1,
		minView: 2,
		forceParse: 0,
		format: 'yyyy-mm-dd'
	}); 
</script>
{% endblock %}